{% block isue_block %}
<div>
    {% autoescape off %}
    <div class="new-content">
        <h2>{{ isue.title }}</h2>
        <h5>{{ isue.date }}</h5>
        <h3>Contenido del punto:</h3> {{ isue.content|linebreaks }}
    </div>
    {% endautoescape %}
    <div>
        <form id="formABC" action="#" method="POST">
            <h5>Votación: ¿Está usted de acuerdo con el punto?</h3>
                <a class="likebutton btn btn-primary btn-lg" id="vote" href="#" data-catid="vote|{{ isue.id }}/+">Apruebo</a>
                <a class="likebutton btn btn-primary btn-lg" id="vote" href="#" data-catid="vote|{{ isue.id }}/-">Rechazo</a>
        </form>
    </div>
</div>
{% endblock isue_block %}

<script>
    $(document).on('click', '#vote', function(e) {
        event.stopImmediatePropagation(); 
        var id;
        id = $(this).attr("data-catid");
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: "POST",
            url: "{% url 'dashboard:load_content' %}",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {
                click_id: id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            cache: true,
            success: function(data) {
                alert(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log('xHR: ' + xhr);
                console.log('ajaxOption: ' + ajaxOptions);
                console.log('thrownError: ' + thrownError);
            }
        });
        
    });
   
</script>