{% block register_block %}
<div>
    {% load static %}
    
    <form id="myForm"  action="{% url 'dashboard:add_player_ok' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
        <div class="row h-90">
            <div class="col-md-12 my-auto">
                <div class="card card-block col-xs-12 col-md-12 box p-3 mx-auto">
                    <div class="container">
                       
                        <h1><strong>{% if  exist %}Actualiza {% else %} Crea {% endif %}tus datos de jugador</strong>

                        </h1>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="control-label col-xs-12" for="name"> {{ form.height.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.height }}
                        </div>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="control-label col-xs-12" for="name"> {{ form.weight.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.weight }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label col-xs-12" for="name">{{ form.position_one.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.position_one }}
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label col-xs-12" for="name">{{ form.position_two.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.position_two }}
                        </div>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="control-label col-xs-1" for="name">{{ form.years_played.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.years_played }}
                        </div>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="control-label col-xs-1" for="name">{{ form.medical_conditions.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.medical_conditions }}
                        </div>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="control-label col-xs-1" for="name">{{ form.healthcare.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.healthcare }}
                        </div>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="control-label col-xs-1" for="name">{{ form.emergency_phone.label }}:</label>
                        <div class="col-xs-12">
                            {{ form.emergency_phone }}
                        </div>
                    </div>

                    <input class="btn btn-primary col-xs-offset-1 col-xs-12" type="submit" value="Crear" />
                    <!-- Error messaging -->
                    <div>{% if form.errors %}
                        <div id="errors">
                            <div class="inner">
                                <p>Existen errores en la información. Por favor corrige lo siguiente:</p>
                                {{ form.non_field_errors }}
                                <ul>
                                    {% for field in form %} {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    <script>
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#myForm').ajaxForm(function(data) { 
                alert(data)
                window.location.reload();
            }); 
        }); 
    </script>
    <style>
        body {
            background: whitesmoke;
            font-family: 'Open Sans', sans-serif;
        }
        
        .container {
            margin: 30px auto;
            padding: 20px;
        }
        
        h1 {
            font-size: 20px;
            text-align: center;
            margin: 20px 0 20px;
        }
        
        h1 small {
            display: block;
            font-size: 15px;
            padding-top: 8px;
            color: gray;
        }
        
        .btn-primary,
        .btn-primary:hover {
            background-color: rgb(21, 82, 212) !important;
        }
        
        .btn-primary,
        .btn-primary:active {
            background-color: rgb(87, 236, 1) !important;
        }
        
        .btn-primary,
        .btn-primary:visited {
            background-color: #8064A2 !important;
        }
    </style>
</div>

{% endblock register_block %}